{% extends "base_generic.html" %}

{% block content %}

<div class="table-responsive container">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Destination</th>
          <th scope="col">Arrival_time</th>
          <th scope="col">total_passanger</th>
          <th scope="col">Shared People</th>
          <th scope="col">Completed Time</th>
        </tr>
      </thead>
      <tbody>
        {% for order in currentAvailableRequests %}
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.destination}}</td>
            <td>{{order.arrival_time}}</td>
            <td>{{order.total_passanger}}</td>
            <td>{{order.shared_people}}</td>
            <td>{{order.completed_time}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-primary mb-3" href="{% url 'driverIndex' %}">Back</a>
  </div>

  {% endblock %}