{% extends "base_generic.html" %}

{% block content %}

  <div class="container col-4">
    <h2>Update Driver Info</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
            <label>{{field.label}}</label>: {{field}}
            <span style="color: red;">{{ field.errors.0 }}</span>
        </div><br>
        {% endfor %}
        <input type="submit" value="Request" class="btn btn-primary">
        <a class="btn btn-primary" href="{% url 'driverIndex' %}">Cancel</a>
    </form>
  </div>
  {% endblock %}
