{% extends "base_generic.html" %}

{% block content %}


<div class="container">
    <div class="btn-group-vertical col-4 justify-content-center" role="group" aria-label="Vertical button group">
        <a class="btn btn-primary mb-3" href="{% url 'sharerSearch' %}">Find a shareable order</a>
        <a class="btn btn-primary mb-3" href="{% url 'sharerCurrentRequests' %}">Manage Orders</a>
        <a class="btn btn-primary mb-3" href="{% url 'sharerPassOrder' %}">Past Orders</a>
    </div>
</div>



{% endblock %}
